/* 
    Created on : 14.03.2018, 0:25:59
    Author     : hc
*/
body {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

header {
    background: #0070b8;
}

.main-menu {
    display: table;
    font-size: 1.5em;
    width: 90%;
    float: left;
}

.main-menu ul {
    list-style: none;
    display: table-row;
}

.main-menu li {
    display: table-cell;
    text-align: center;
    width: 25%;
}

.main-menu li.active,
.main-menu li:hover {
    background-color: #0070b8;
}

.main-menu a {
    display: block;
    padding: 15px 10%;
    color: #FFF;
}

.main-menu a:hover {
    text-decoration: none;
    color: #000;
}

.mini-menu-top {
    float: right;
    width: 10%;
    padding: 15px 0 10px;
}

.mini-menu-top ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mini-menu-top li {
    display: inline-block;
    padding: 2px 1px;
}

.social-top {
    display: block;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.social-top-fb {
    background-image: url(../img/facebook-logo.png);
    background-image: url(../img/facebook-logo.svg);
}


.social-top-skype {
    background-image: url(../img/skype-logo.png);
    background-image: url(../img/skype-logo.svg);
}

/* Just a temporary solution until Wordpress development */
.main-page-bg {
    background: url(../img/bg_main.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top:0;
}

.site-logo {
    display: inline-block;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
    position: relative;
    width: 50px;
    height: 50px;
}

.site-logo:after {
    display: block;
    content: "";
    background-image: url(../img/logo.png);
    background-image: url(../img/logo.svg);
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.site-title {
    display: inline-block;
    padding: 15px 5px;
    font-size: 1.5em;
    color: #FFF;
}

.page-content {
    z-index: 1;
}

.main-page-title {
    font-size: 1.2em;
    display: block;
    font-style: normal;
    font-weight: normal;
    padding-bottom: 20px;
}

.main-page-description {
    background: rgba(255, 255, 255, 0.5);
    background-image: url(../img/crossbg.png);
    padding: 30px 40px 100px;
    font-size: 1.4em;
    font-style: italic;
    font-weight: bold;
    margin-top: 22.7%;
    position: relative;
}

.main-page-morebtn {
    display: inline-block;
    background: #4095cb;
    color: #FFF;
    padding: 15px 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    white-space: nowrap;
    font-style: normal;
    font-weight: normal;
}

.main-page-morebtn:hover {
    text-decoration: none;
    background: #0070b8;
    color: #000;
}

.contacts-title {
    padding: 10% 0 0;
    text-align: center;
    font-size: 2.5em;
}

.contacts-logo {
    display: block;
    width: 80px;
    height: 50px;
    margin: 0 auto;
    background-image: url(../img/hands.png);
    background-image: url(../img/hands.svg);
    background-repeat: no-repeat;
}

.contacts-block {
    padding: 10px 0 0;
}

.contacts-list {
    list-style: none;
    padding: 20px 0 10%;
    text-align: center;
    font-size: 1.6em;
}

.contact-tel a {
    color: #000;
}

.top-menu-btn {
    float: right;
    height: 3px;
    width: 35px;
    background: #949494;
    margin: 30px 0 20px;
    position: relative;
}

.top-menu-btn:before,
.top-menu-btn:after {
    content: "";
    display: block;
    height: 3px;
    width: 35px;
    top: -8px;
    background: #949494;
    position: absolute;
}

.top-menu-btn:after {
    top: 8px;
}

.top-menu-container {
    background: #4095cb;
    padding: 0;
}

.top-menu-container.show-mobile {
    display: block !important;
}

@media screen and (max-width: 1200px) 
{   
    .main-page-description {
        width: 100%;
    }
    
    .mini-menu-top li {
        display: inline-block;
        padding: 2px 0px;
    }
}

@media screen and (max-width: 1024px) 
{   
    .top-menu-container {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .top-menu-container {
        background: none;
    }
}

@media screen and (max-width: 420px) 
{
    .main-menu {
        display: block;
        float: none;
        width: 100%;
        text-align: center;
    }
    
    .main-menu ul,
    .main-menu li { 
        display: block; 
        padding: 0;
        width: 100%;
    }
    
    header {
        background: #eaeaea;
    }
    
    .site-title {
        padding: 20px 5px;
        font-size: 1.1em;
    }
    
    .site-logo {
        -webkit-filter: none;
        filter:none;
    }
    
    .social-top {
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }
    
    .site-title,
    .main-menu a {
        color: #000;
    }
    
    .mini-menu-top {
        text-align: center;
        float: left;
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 320px) 
{
    .contacts-title {
        font-size: 1.8em;
    }
}