        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6hN3WbduFyJdBcTA5-GBOssIRMyw7Law"></script>
        <script src="js/start.js"></script>
    </body>
</html>