<div class="container page-content" id="page_content">
    <div class="contacts-title">
        Адвокат
        <br>
        Грінів Олег Васильович
    </div>
    <div class="contacts-block">
        <div class="contacts-logo"></div>
        <ul class="contacts-list" itemscope="" itemtype="http://schema.org/LocalBusiness">
            <li class="contact-tel" itemprop="telephone">
                <a href="tel:+380672333809">+380 672 333 809</a>
            </li>
            <li class="contact-email" itemprop="email">
                <a href="mailto:holeh@ukr.net">holeh@ukr.net</a>
            </li>
        </ul>
    </div>
</div>
<!--<div id="map" class="map-container"></div>-->