<!-- Just a temporary background solution until Wordpress development -->
<div class="main-page-bg"></div>

<div class="container page-content" id="page_content">
    <div class="col-lg-6 main-page-description">
        <span class="main-page-title">
            Я Гринів Олег Васильович - адвокат.
        </span>
        Маю великий досвід в правозахисній діяльності та моя основна задача
        справедливе вирішення справ
        
        <a class="main-page-morebtn" href="#">Дізнатися більше</a>
    </div>
</div>